.container {
  height: calc(100vh - 80px);
  width: auto;
  padding: 0 clamp(1rem, 7vw, 200px);
}

.content {
  display: flex;
  padding-top: 25vh;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  gap: 16px;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcomeTitle {
  font-size: 52px;
  text-align: center;
  font-weight: 700;
}
.description {
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  text-align: left;
}

.btnItem {
  padding-right: 35px;
}

.signBtn {
  font-size: 30px;
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
  background-color: #1098ad;
  padding: 15px 10px 15px 10px;
  color: #fff;
  border: none;
  font-weight: 500;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.signBtn:hover {
  background-color: #15aabf;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
}
