.wrapper {
  border: 10px inset #66d9e8;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: #6741d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 32px;
  color: white;
  font-weight: bolder;
}
