.App {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.Menu{
  background-color: black;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  position:static;
  height: 80px;
}

.MenuItems{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10vmin;
}

.LogoContainer{
  display:flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.UserMenu{
  padding-top: 100px;
}

.CardContainer{
  position: relative;
  margin-top: 220px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Card{
  background-color: white;
  border: 2px solid black;
  padding: 0px 15px 0px 15px;
  width: 400px;
  height: 400px;
}

.UserMenuContainer{
  display: flex;
  flex-direction: row;
}

.Username{
  padding-top: 10px;
}

.form-element{
  margin-bottom: 10px;
  font-size: 25px;
}

.form-element-title{
  font-size:2em;

  text-align: left;
  padding-left: 0px;
}

.form-title{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.LoginFormContainer{
  display: flex;
  flex-direction: column;
}

.signBtn {
  margin-top: 20px;
  background-color: white;
  border: 2px solid black;
  color: black;
}
.signBtn:hover{
  background-color: black;
  color: white;
}
