.App {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.Menu{
  background-color: black;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  position:static;
  height: 80px;
}

.LogoTitle{
  font-size:3.5em;
}

.FightLogo{
  width: 5;
  height: 5;
}

.MenuItems{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10vmin;
}

.LogoContainer{
  display:flex;
  flex-direction: row;
}

.UserMenu{
  padding-top: 100px;
}

.CardContainer{
  position: relative;
  margin-top: 220px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Card{
  background-color: white;
  border: 2px solid black;
  padding: 0px 15px 0px 15px;
  width: 400px;
  height: 400px;
}

.UserMenuContainer{
  display: flex;
  flex-direction: row;
}

.Username{
  padding-top: 10px;
}

.formElement{
  margin-bottom: 10px;
  font-size: 25px;
}

.formElementTitle{
  font-size:2em;

  text-align: left;
  padding-left: 0px;
}

.formTitle{
  font-size: 3em;
  font-family: sans-serif;
  font-weight: bold;
}

.formContainer{
  display: flex;
  flex-direction: column;
}

.signBtn {
  font-size: 2em;
  margin-top: 20px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  color: black;
}
.signBtn:hover{
  background-color: black;
  color: white;
}
