.healthBar__outer {
  background-image: url('../../../assets/kenji-avatar.png');
  background-color: rgb(255, 0, 0);
  border-radius: 0.5rem;
  display: flex;
  border: 3px solid;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.healthBar__outer__enemy {
  justify-content: flex-end;
}

.usernames {
  
}

.healthBar__inner {
  background-color: rgb(24, 165, 19);
  height: 50px;
  border-radius: 0.4rem;
  transition: 1s ease;
  transition-delay: 0.1s;
}

.healthContainer {
  display: flex;
  flex-direction: column;
}

.flexBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.flexReverse {
  flex-direction: row-reverse;
}

.wrappingProfile {
  display: flex;
  align-items: center;
  padding: 5px;
}

.avatar {
  margin: 0  5px;
}
