.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 800px;

}

.card{
    background-color: white;
    border: 2px solid black;
    padding-left: 300px;
    padding: 15px 30px 200px 30px;
    width: 35em;
    height: 25em;
  }
  
.formElement{
    margin-bottom: 10px;
    font-size: 25px;
  }
  
.formElementTitle{
    font-size:2em;
    text-align: left;
    padding-left: 0px;
  }

.formInput{
  font-size:2em;
}

.formTitle{
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
.formContainer{
    display: flex;
    flex-direction: column;
  }
  
.signBtn {
    font-size: 2em;
    margin-top: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    color: black;

  }
.signBtn:hover{
    background-color: black;
    color: white;
  }


.optionalText{
  padding-top: 10px;
  text-align: center;
}
.link{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

