.wrapper {
  display: flex;
  height: calc(100vh - 80px);
  width: auto;
}

.gamePlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0.45;
}

.gamePlayText {
  margin-left: 30px;
  margin-bottom: 8px;
  font-size: 44px;
  color: white;
  font-weight: 700;
}

.gamePlayButton {
  margin-left: 30px;
  border: 4px inset #6741d9;
  background-color: #66d9e8; 
  border-radius: 10px;
  padding: 5px;
  width: 60px;
  color: #6741d9;
  font-weight: 800;
  text-align: center;
}

.gamePlayButton:hover {
  cursor: pointer; 
}

.leaderBoardSpace {
  flex: 0.55;
  height: 83vh;
  min-height: 500px;
  height: calc(100vh - 80px);
  padding: 0px 25px;
  background-color: #f1f3f5;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
